
<div ng-controller="ValidationSpunCoat06252015Ctrl" class="container">
<div class="row">
<div class="row">
		<h1>Cell segmentation verification - Dataset Spun Coat 06252015</h1>
	</div>
</div>
	

	<div class="row">
		<progressbar value="currentViewSpunCoat06252015.index+1" max="spuncoat06252015.size">
			<i>{{currentViewSpunCoat06252015.index + 1}} / {{spuncoat06252015.size}}</i>
		</progressbar>
		
	</div>

	<div class="row">
		<label>Stack name: </label> {{currentViewSpunCoat06252015.name}}
		<div class="row">
			<button type="submit" class="btn btn-default btn-lg" ng-click="previous();"
			ng-disabled="currentViewSpunCoat06252015.index==0" >
	            Previous
	        </button>
			
			<img ng-src="{{currentViewSpunCoat06252015.path}}" style="max-width:70%; height:auto;" />
			
	        <button type="submit" class="btn btn-default btn-lg" ng-click="next();"
	                ng-disabled="currentViewSpunCoat06252015.index==(spuncoat06252015.size-1)" >
	            Next
	        </button>
		</div>
		<div class="row">
			<h1>How would you classify this segmentation?</h1>
		</div>
		<div class="row">
	        <button type="submit" class="btn btn-default btn-lg" ng-click="pressGood();"
	        ng-class="spuncoat06252015.segmentations[currentViewSpunCoat06252015.index].status=='good' ? 'btn btn-primary btn-lg' : 
	        'btn btn-default btn-lg'"
	        tooltip-placement="right" tooltip="Visually, the shape is accurate (at least 90%) and close to perfect, this segmentation is valid."
	                ng-disabled="(validationForm.$dirty && validationForm.$invalid) ||
	                    validationForm.$pristine">
	            Good
	        </button>
	        
	        <button type="submit" class="btn btn-default btn-lg" ng-click="pressCorrect();"
	        ng-class="spuncoat06252015.segmentations[currentViewSpunCoat06252015.index].status=='correct' ? 'btn btn-primary btn-lg' : 
	        'btn btn-default btn-lg'"
	        tooltip-placement="right" tooltip="Visually, the shape is accurate (at least 75%), but some small parts can be over or under segmented, this segmentation is valid."
	                ng-disabled="(validationForm.$dirty && validationForm.$invalid) ||
	                    validationForm.$pristine">
	            Correct
	        </button>
	        
	        <button type="submit" class="btn btn-default btn-lg" ng-click="pressInaccurate();"
	        ng-class="spuncoat06252015.segmentations[currentViewSpunCoat06252015.index].status=='inaccurate' ? 'btn btn-primary btn-lg' : 
	        'btn btn-default btn-lg'"
	        tooltip-placement="right" tooltip="The shape is not accurate enough (less than 75%), this segmentation should be discarded."
	                ng-disabled="(validationForm.$dirty && validationForm.$invalid) ||
	                    validationForm.$pristine">
	            Inaccurate
	        </button>
	        
	        <button type="submit" class="btn btn-default btn-lg" ng-click="pressMissed();"
	        ng-class="spuncoat06252015.segmentations[currentViewSpunCoat06252015.index].status=='missed' ? 'btn btn-primary btn-lg' : 
	        'btn btn-default btn-lg'"
	        tooltip-placement="right" tooltip="The segmented object is not the cell of interest, this segmentation should be discarded."
	                ng-disabled="(validationForm.$dirty && validationForm.$invalid) ||
	                    validationForm.$pristine">
	            Missed
	        </button>
	    </div>
        
        <br/>
        <div class="row">
			<label>Current classification: {{spuncoat06252015.segmentations[currentViewSpunCoat06252015.index].status}}</label>
		</div>
        
        <div class="row">
			<h1>Your classification for this dataset</h1>
		</div>
		<div class="row">
			<a id="downloadbtn" href ="" class="btn btn-default btn-lg" ng-click="pressDownloadCsv();"
                >
            Download the CSV file
        </a>
        
		</div>
        <br/>
        <div class="row">
	        <button class="btn btn-default btn-lg" ng-click="displayCsv = !displayCsv">Display CSV below</button>
			<hr>
			<div collapse="displayCsv">
				<div 
					ng-repeat="segmentation in spuncoat06252015.segmentations">
					{{segmentation.name}},{{segmentation.status}}
				</div>
			</div>
		</div>
  	</div>
</div>


